In [1]:
  # Control flow

if 
else
elif

# if
Syntax

if condition:
    statement
    statement
    statement
    .
    .
    ..
    n
    
    
# if else

Syntax:

if condition:
    statement
else:
    statement
    statement
    statement
    .
    .
    ..

    
    
# elif
Syntax
if condition:
    statement
elif condition:
    statement
    statement
else:
    statement

In [2]:
# WAP to check number is even ?

In [4]:
x=int(input("Enter the value of x:"))
if x%2==0:
    print("Number is Even")

Enter the value of x:10
Number is Even

In [5]:
x=int(input("Enter the value of x:"))
if x%2==0:
    print("Number is Even",x)

Enter the value of x:10
Number is Even 10

In [ ]:
# WAP to check number is Negative ?

In [6]:
# else

In [7]:
# WAP to check number is even or odd?

In [8]:
x=int(input("Enter the value of x:"))
if x%2==0:
    print("Number is Even",x)
else:
    print("Number is Odd",x)

Enter the value of x:11
Number is Odd 11

In [ ]:
# WAP to check number is Negative or positive ?

In [ ]:
# WAP to check number is greater or smaller and equal?

In [10]:
x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
z=int(input("Enter the value of z:"))

if x>y and x>z:
    print("x is greater",x)
elif y>x and y>z:
    print("y is greater",y)
elif z>y and y>z:
    print("z is greater",z)
elif x<y and x<z:
    print("x is smaller",x)
elif y<x and y<z:
    print("y is smaller",y)
elif z<y and z<x:
    print("z is smaller",z)
else:
    print("all are equal")

Enter the value of x:-1
Enter the value of y:-1
Enter the value of z:-2
z is smaller -2

In [17]:
#WAP to check year is leap?5
x = int(input("Enter a year"))
if (x%4==0 and x%100!=0) or x%400==0:
    print("leap year")
else:
    print("not a leap year")

Enter a year1900
not a leap year

In [ ]:
# for loop

 syntax:
    
    for var_name in sequence or conditions:
        statement
        
        
        range:
            
            syntax:
                range(begin,end,step)

In [19]:
# WAP to check number is even or odd from range? using for loop
for i in range(1,10):
    if i%2 == 0:
        print("even number",i)
    else:
        print("odd number",i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9

In [20]:
# WAP to print table of 2?
input= 2
output:
    2X1=2
    2X2=4
    .
    .
    .
    .
    2X10=20

SyntaxError: invalid syntax (Temp/ipykernel_4056/1633575047.py, line 3)

In [22]:
n = 2
for i in range(1,11):
    print(n,'x',i,'=',n*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [28]:
for i in range(1,21):
    print("table of : ", i)
    for j in range(1,11):
        print(i, "*",j,'=',i*j)

table of :  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
table of :  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table of :  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table of :  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table of :  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
table of :  6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
table of :  7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
table of :  8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
table of :  9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
table of :  10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
table of :  11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
table of :  12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
table of :  13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
table of :  14
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
table of :  15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
table of :  16
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
table of :  17
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
table of :  18
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180
table of :  19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
table of :  20
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

# While loop

# syntax:

while conditions:
    statement
    statement

In [29]:
# WAP to print 100-1 using while loop?

In [34]:
a = 100
while a >0:
    print(a,end= ", ")
    a = a-1

100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

# WAP to input a number and print their digit of sum?
input=187
output=16

In [35]:
num = int(input("enter the number"))
sum = 0
a = num
while num>0:
    digit = num%10
    sum=sum+digit
    num= num//10
print("the sum of digit is",sum)

enter the number123
the sum of digit is 6

In [ ]:
Transfer Statement:
    break
    pass
    continue

In [37]:
for i in range(1,20):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [38]:
# break

In [3]:
for i in range(1,20):
    if i==15:
        break
    print(i,end=' ')
print("outside the loop")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 outside the loop

In [4]:
# continue

In [5]:
for i in range(1,20):
    if i==15:
         
    print(i,end=' ')
print("outside the loop")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 16 17 18 19 outside the loop

In [6]:
# pass

In [7]:
for i in range(1,20):
    if i==15:
        pass
    print(i,end=' ')
print("outside the loop")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 outside the loop

# Day 05 - 13-02-2025- EEC Training

# List Tuple Set Dic

In [8]:
#List

List is the collection of hetrogenious object where insertion order is preserved, list contains a duplicates values, it is mutable and we can perform CRUD operation.
C- Create
R- Read
U= Update
D= Delete

In [10]:
x=[10,20,30,True,10,20,12.05,"Python",10+15j,"ML"]
print(x)
print(type(x))

[10, 20, 30, True, 10, 20, 12.05, 'Python', (10+15j), 'ML']
<class 'list'>

method:
    append
    insert
    pop
    split
    max
    min
    len
    add
    clear
    sort
    reverse

In [ ]:
WAP to create a list with elements and apply list methods?
x=[10,20,30,120,150,13.02,1589,1456]

Wap to sum all the items in a list.

WAP to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

WAP that takes two lists and returns True if they have at least one common member.

In [11]:
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def last(n):
    return n[-1]
def sorted_list(tuples):
    return sorted(tuples, key = last)
print(sorted_list(a))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [13]:
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def last(n):
    return n[-1]
print(last(a))

(2, 1)

Write a Python program to sort a given list of non-empty tuples in increasing order by the sum of elements in each tuple.

Sample List:

[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result:

[(2, 1), (1, 2), (2, 3), (2, 5), (4, 4)]

In [14]:
# Tuple:

Tuple is the collection of hetrogenious object where insertion order is preserved, tuple contains a duplicates values, it is immutable, represented By ().

In [15]:
x=(10,20,30,True,10,20,12.05,"Python",10+15j,"ML")
print(x)
print(type(x))

(10, 20, 30, True, 10, 20, 12.05, 'Python', (10+15j), 'ML')
<class 'tuple'>

method:
    append
    insert
    pop
    split
    max
    min
    len
    add
    clear
    sort
    reverse

WAP to create a Tuple with elements and apply Tuple methods?
x=(10,20,30,120,150,13.02,1589,1456)

Write a Python program to get the 4th element from the last element of a tuple.

Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]


Write a Python program to remove an empty tuple(s) from a list of tuples.
Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [17]:
lst = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
lst = [i for i in lst if i != ()]
print(lst)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [18]:
# set

set is the collection of hetrogenious object where insertion order is not preserved , duplicates are not allowed, it is mutable and represented by {}.

In [19]:
x={10,20,30,True,10,20,12.05,"Python",10+15j,"ML"}
print(type(x))
print(x)

<class 'set'>
{True, 10, 12.05, 'ML', 20, (10+15j), 'Python', 30}

WAP to create a set with elements and apply set methods?
x={10,20,30,120,150,13.02,1589,1456}
Union
intersection
difference

Write a Python program to find all the unique words and count the frequency of occurrence from a given list of strings. Use Python set data type.
input list: x=["black","green","black","red","red","black","white","yellow","green","white"]

Write a Python program to find the two numbers whose product is maximum among all the pairs in a given list of numbers. Use the Python set.
input list:
x=[1,2,3,4,5,6,7,8,9]
x=[1,2,-1,-2,5,-8,8,10,7,20]

Write a Python program to find all the unique combinations of 3 numbers from a given list of numbers, adding up to a target number.
input list:
x=[1,2,3,4,5,6,7,8,9]

In [20]:
print("end")

end

# Day 06 14-02-2025-EEC

# Class and Object

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

# The init Func

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

# Self keyword

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [22]:
# WAP to create a class with name person and store details of person ?

In [23]:
class person:# create class with person name
    def __init__(self,person_name,person_age,person_weight,person_height):# define constructor and class attributes.
        # binding the class attributes with self keyword:
        self.person_name=person_name
        self.person_age=person_age
        self.person_weight=person_weight
        self.person_height=person_height
        
# Create class object.
obj=person("Gaurav","29yrs","75kg","170cm")
# calling class atrributes with the help of class object
print(obj.person_name)
print(obj.person_age)
print(obj.person_weight)
print(obj.person_height)

Gaurav
29yrs
75kg
170cm

In [25]:
class person:# create class with person name
    def own_method(self,person_name,person_age,person_weight,person_height):# define constructor and class attributes.
        # binding the class attributes with self keyword:
        self.person_name=person_name
        self.person_age=person_age
        self.person_weight=person_weight
        self.person_height=person_height
        
# Create class object.
obj=person()
obj.own_method("Gaurav","29yrs","75kg","170cm")
# calling class atrributes with the help of class object
print(obj.person_name)
print(obj.person_age)
print(obj.person_weight)
print(obj.person_height)

Gaurav
29yrs
75kg
170cm

In [26]:
class person:# create class with person name
    def __init__(self,person_name,person_age,person_weight,person_height):# define constructor and class attributes.
        # binding the class attributes with self keyword:
        self.person_name=person_name
        self.person_age=person_age
        self.person_weight=person_weight
        self.person_height=person_height
        
# Create class object.
obj=person("Gaurav","29yrs","75kg","170cm")
# calling class atrributes with the help of class object
print("Name:",obj.person_name,",","Age:",obj.person_age,",","Weight:",obj.person_weight,",","Height:",obj.person_height)

Name: Gaurav , Age: 29yrs , Weight: 75kg , Height: 170cm

In [27]:
# WAP to sum of two number using class and object?

WAP to create class and store students data and caclculte the total marks and set label accordingly, using class and object in python?

STD data:
    roll_number
    std_name
    std_age
    std_contact_number
    number of subject
    std_marks per subject
    std_knowledge(average, good, excellent)
    label set:
    below 50 its average
    below 70 its good
    above 90 its excellent

In [54]:
rec={}
n=int(input("Enter number of students: "))
i=1
while i <=n:
    name=input("Enter Student Name: ")
    marks=input("Enter % of Marks of Student: ")
    rec[name]=marks
    i=i+1
print("Name of Student","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

Enter number of students: 5
Enter Student Name: rahul
Enter % of Marks of Student: 50
Enter Student Name: kunal
Enter % of Marks of Student: 80
Enter Student Name: ruhi
Enter % of Marks of Student: 55
Enter Student Name: Yogesh
Enter % of Marks of Student: 85
Enter Student Name: Preeti
Enter % of Marks of Student: 90
Name of Student 	 % of marks
	 rahul 		 50
	 kunal 		 80
	 ruhi 		 55
	 Yogesh 		 85
	 Preeti 		 90

In [52]:
class add_num:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2= num2
        self.num3=num1+num2
a = int(input("Enter num1:"))
b = int(input("Enter num2:"))
obj=add_num(a,b)
print(obj.num3)

Enter num1:4
Enter num2:3
7

In [28]:
print("end")

end

In [36]:
# return

In Python, return is used in a function to exit the function and send a result or value back to the caller. When the return statement is executed, the function terminates, and the value (if provided) is returned to the code that called the function.

In [37]:
def add_numbers(a, b):
    result = a + b
    return result  # Returning the sum of a and b

sum_value = add_numbers(3, 5)  # Function call
print(sum_value)  # This will print 8

8

Key Points:
Exits the function: Once return is executed, the function stops running further code.
Returns a value: The value or expression after return gets sent back to the caller.
Optional: You can use return with or without a value. If no value is provided, None is returned by default.

In [38]:
def greet(name):
    print(f"Hello, {name}!")
    # No return statement here, so it returns None by default.

greet("Alice")

Hello, Alice!

1. Returning Multiple Values:
You can return multiple values from a function by separating them with commas. Python will return these as a tuple.

In [40]:
def get_coordinates():
    latitude = 40.7128
    longitude = -74.0060
    return latitude, longitude  # Returning multiple values

coords = get_coordinates()  # This will return a tuple
print(coords)  # Output: (40.7128, -74.0060)


#In this case, the function returns two values (latitude and longitude), and they are automatically packed into a tuple.

(40.7128, -74.006)

2. Returning No Value (Implicit None)
If a function doesn't include a return statement, or if the return is used without a value, Python will return None by default.

In [42]:
def print_message(message):
    print(message)
    # No return statement, so None is returned by default

result = print_message("Hello!")
print(result)  # Output: None

# Even though we print the message inside the function, there is no explicit return, so None is returned.

Hello!
None

3. Returning Expressions
You can return the result of an expression directly.

In [44]:
def square(x):
    return x ** 2  # Returning the square of x directly

result = square(4)
print(result)  # Output: 16


# Instead of storing the result in a variable and returning it, we directly return the result of the expression x ** 2.

16

4. Returning from a Conditional Block
You can use return within conditional statements to return different values depending on the conditions.

In [57]:
def check_positive(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

result = check_positive(10)
print(result)  # Output: Positive

# Here, the function checks if a number is positive, negative, or zero and returns the corresponding string.

Positive

5. Returning Early (Exiting the Function Early)
You can use return at the beginning of a function to exit early under certain conditions. This can be useful for validation or handling special cases.

In [47]:
def divide(a, b):
    if b == 0:
        return "Error: Division by zero"  # Early return if division by zero
    return a / b

result = divide(10, 2)
print(result)  # Output: 5.0

error_result = divide(10, 0)
print(error_result)  # Output: Error: Division by zero

#In this case, if b is zero, the function returns an error message and exits early, without performing the division.

5.0
Error: Division by zero

6. Return with a Loop
You can also use return inside a loop, which will exit the loop and the function at the same time.

In [48]:
def find_first_even(numbers):
    for num in numbers:
        if num % 2 == 0:
            return num  # Return the first even number found
    return None  # Return None if no even number is found

result = find_first_even([1, 3, 5, 8, 10])
print(result)  # Output: 8

#In this example, the function returns as soon as it finds the first even number. If no even numbers are found, it returns None.

8

Summary:
-return can return one or more values.
-It immediately stops the function and sends back a result.
-If no return is present, None is returned.
-return is useful for exiting early or when you need to pass data from a --function to the caller.

In [29]:
# lambda Function

A function without name is called anonymous function.It is used for instant purpose.We can implement anonymous function by using lambda keyword.

Syntax
lambda arguments:return one value/ expression

In [30]:
# WAP to input two numbers & print their sum by using lambda function.

In [32]:
s=lambda a,b:(a+b) 
print('The Sum',s(10,20))

The Sum 30

In [33]:
tiwari=lambda a,b:a-b 
print('The Sub',tiwari(10,20))

The Sub -10

Q- Difference between normal function & anonymous function.

Normal function:  
define by def keyword.
return multiple value. 
it has some name.

Anonymous Function:
define by lmbda keyword.
return only one value/expression 
it is nameless

In [49]:
# W.A.P to input a number a print its factorial? using lambda

In [55]:
class student:
    def __init__(self, roll_number, std_name, std_age, std_contact_number,number_of_subjects,std_marks):
        self.roll_number = roll_number
        self.std_name = std_name
        self.std_age = std_age
        self.std_contact_number = std_contact_number
        self.number_of_subjects = number_of_subjects
        self.std_marks = std_marks
    def calculate_total_marks(self):
        total = 0
        for i in self.std_marks:
            total += i
        result = total/5
        return result
    def set_label(self):
        result = self.calculate_total_marks()
        if result < 50:
            return "average"
        elif result >50 and result < 70:
            return "good"
        elif result > 70 and result < 100:
            return "excellent"
        
roll_number = int(input("Enter roll number: "))
std_name = input("Enter std name: ")
std_age = int(input("Enter std age: "))
std_contact_number = int(input("Enter std contact number: "))
number_of_subjects = 5
std_marks = []
for i in range(number_of_subjects):
    std_marks.append(int(input(f"Enter marks for subject {i+1}: ")))

obj = student(roll_number, std_name, std_age, std_contact_number, number_of_subjects, std_marks)


print("\nRoll no:", obj.roll_number, "\nName:" , obj.std_name, "\nAge:", obj.std_age, 
      "\nContact no:", obj.std_contact_number, "\nLabel:", obj.set_label())

Enter roll number: 1
Enter std name: kunal
Enter std age: 21
Enter std contact number: 6399657263
Enter marks for subject 1: 86
Enter marks for subject 2: 87
Enter marks for subject 3: 95
Enter marks for subject 4: 96
Enter marks for subject 5: 98

Roll no: 1
Name: kunal
Age: 21
Contact no: 6399657263
Label: excellent

In [58]:
print("end")

end

# Date: 15-02-2025: EEC Day 07

 Today Agenda:
    File handling, Exception Handling, Inheritance, polymorphism

In [60]:
print("_------------------Start----------------------_")

_------------------Start----------------------_

In [61]:
# what is inheritance and types of inheritance

In [ ]:
# What is polymorphism and types of polymorphism?

# Date: 17-02-2025: EEC Day 08

Today Agenda
Numpy
Pandas

What is Data Science?
What is data anlytics?  
What is Data? Types of Data?

Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array.

Expected Output:

Original List: [12.23, 13.32, 100, 36.32]
One-dimensional NumPy array: [ 12.23 13.32 100. 36.32]


Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10.

Expected Output:

[[ 2 3 4]
[ 5 6 7]
[ 8 9 10]]


Write a NumPy program to create a null vector of size 10 and update the sixth value to 11.

[ 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Update sixth value to 11
[ 0. 0. 0. 0. 0. 0. 11. 0. 0. 0.]


Write a NumPy program to reverse an array (the first element becomes the last).

Original array:
[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37]
Reverse array:
[37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12]


Write a NumPy program to convert an array to a floating type.

Sample output:

Original array
[1, 2, 3, 4]

Array converted to a float type:
[ 1. 2. 3. 4.]


Write a NumPy program to create a 2D array with 1 on the border and 0 inside.

Expected Output:

Original array:
[[ 1. 1. 1. 1. 1.]
...................
[ 1. 1. 1. 1. 1.]]

1 on the border and 0 inside in the array
[[ 1. 1. 1. 1. 1.]
...................
[ 1. 1. 1. 1. 1.]]


Write a NumPy program to add a border (filled with 0's) around an existing array.

Expected Output:

Original array:
[[ 1. 1. 1.]
[ 1. 1. 1.]
[ 1. 1. 1.]]

1 on the border and 0 inside in the array
[[ 0. 0. 0. 0. 0.]
...........
[ 0. 0. 0. 0. 0.]]

In [66]:
x=[1,2,3,4,5,6,7,8,9,10]
print(x[::2])

[1, 3, 5, 7, 9]

In [67]:
x="PYTHON"
print(x[1:6:1])

YTHON

In [68]:
x=[1,2,3,4,5,6,7,8,9,10]
print(x[1:8:2])

[2, 4, 6, 8]

In [69]:
x=[1,2,3,4,5,6,7,8,9,10]
print(x[3::2])

[4, 6, 8, 10]

In [70]:
x="PYTHON"
print(x[3::2])

HN

In [71]:
x="PYTHON"
print(x[1::-2])

Y

# Date: 18-02-2025: EEC Day 09

Topics: 
    Numpy
    Pandas

  1- Write a NumPy program to convert a list and tuple into arrays.
List to array:
[1 2 3 4 5 6 7 8]
Tuple to array:
[[8 4 6]
[1 2 3]]

2- Write a NumPy program to create an empty and full array.
Expected Output:

[ 6.93270651e-310 1.59262180e-316 6.93270559e-310 6.93270665e-310]
[ 6.93270667e-310 6.93270671e-310 6.93270668e-310 6.93270483e-310]
[ 6.93270668e-310 6.93270671e-310 6.93270370e-310 6.93270488e-310]]
[[6 6 6]
[6 6 6]
[6 6 6]]


3- Write a NumPy program to find the real and imaginary parts of an array of complex numbers.
Expected Output:
Original array [ 1.00000000+0.j 0.70710678+0.70710678j]
Real part of the array:
[ 1. 0.70710678]
Imaginary part of the array:
[ 0. 0.70710678]

4- Write a NumPy program to find the number of elements in an array. It also finds the length of one array element in bytes and the total bytes consumed by the elements.
Expected Output:
Size of the array: 3
Length of one array element in bytes: 8
Total bytes consumed by the elements of the array: 24
    

5- Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
Expected Output:
Array1: [ 0 10 20 40 60]
Array2: [0, 40]
Compare each element of array1 and array2
[ True False False True False]

6- Write a NumPy program to find common values between two arrays.
Expected Output:
Array1: [ 0 10 20 40 60]
Array2: [10, 30, 40]
Common values between two arrays:
[10 40]

7- Write a NumPy program to get the unique elements of an array.
Expected Output:
Original array:
[10 10 20 20 30 30]
Unique elements of the above array:
[10 20 30]
Original array:
[[1 1]
[2 3]]  
Unique elements of the above array:
[1 2 3]

In [72]:
print("----Start----")

----Start----

In [75]:
import numpy as np
x = np.sqrt([1+ 0j])
y = np.sqrt([0+ 1j])
print(x)
print(y)

print(np.real(x), "this is a real value")
print(np.imag(y), "this is a imagenary value")

[1.+0.j]
[0.70710678+0.70710678j]
[1.] this is a real value
[0.70710678] this is a imagenary value

In [78]:
import numpy as np
x = [ 1.00000000+0.j,0.70710678+0.70710678j]
arr = np.array(x)
print(np.real(arr),"is is a real value")
print(np.imag(arr),"is is a imagenary value")

[1.         0.70710678] is is a real value
[0.         0.70710678] is is a imagenary value

Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


Write a Pandas program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']





Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Date: 20-02-2025: EEC Day 11

Agenda : Matplotlib, and practice on numpy or pandas

In [1]:
# Matplotlib

# Date: 28-02-2025: EEC Day 17

# Frozen set

A frozenset in Python is an immutable version of a set. Unlike a regular set, a frozenset cannot be modified after its creation, meaning you cannot add or remove elements. However, it supports set operations like union, intersection, and difference.

In [1]:
# Creating a frozenset
fs = frozenset([1, 2, 3, 4, 5])
print(fs)  # Output: frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3, 4, 5})

# Key Characteristics of frozenset

Immutable: Elements cannot be added or removed after creation.
Hashable: Can be used as dictionary keys or stored in another set.
Supports Set Operations: Can perform operations like union, intersection, and difference.

In [2]:
fs1 = frozenset([1, 2, 3, 4])
fs2 = frozenset([3, 4, 5, 6])

# Union
print(fs1 | fs2)  # frozenset({1, 2, 3, 4, 5, 6})

# Intersection
print(fs1 & fs2)  # frozenset({3, 4})

# Difference
print(fs1 - fs2)  # frozenset({1, 2})

# Symmetric Difference
print(fs1 ^ fs2)  # frozenset({1, 2, 5, 6})

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

# Using frozenset as a dictionary key

In [3]:
# Since frozensets are hashable, they can be used as dictionary keys:

In [4]:
my_dict = {frozenset([1, 2, 3]): "Frozen Set Example"}
print(my_dict[frozenset([1, 2, 3])])  # Output: Frozen Set Example

Frozen Set Example

# Why Use frozenset?

Ensures data integrity by preventing accidental modifications.
Can be used as dictionary keys (unlike normal sets).
Can be stored inside other sets, unlike mutable sets.

# Types of Collections

Python provides several built-in collection types for storing and managing data efficiently. The main collection types are:
List
Tuple
Set
Dictionary
FrozenSet

# Specialized Collections (from collections module)

1- Named Tuple (collections.namedtuple)

A lightweight alternative to a class.
Creates immutable, readable tuple-like objects with named fields.

In [6]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age'])
p = Person("John", 30)
print(p.name, p.age)  # Output: John 30

John 30

# Storing Employee Records

In [13]:
from collections import namedtuple

# Define a namedtuple called 'Employee' with fields: name, age, department, salary
Employee = namedtuple('Employee', ['name', 'age', 'department', 'salary'])

# Creating employee records
emp1 = Employee("Rahul", 30, "HR", 50000)
emp2 = Employee("Satyam", 28, "IT", 60000)
emp3 = Employee("Nisha", 35, "Finance", 70000)

# Accessing fields
print(emp1.name)       # Rahul
print(emp2.department) # Output: IT
print(emp3.salary)     # Output: 70000

# Using _asdict() to convert to dictionary
print(emp1._asdict())  


# Updating values using _replace()
emp1_updated = emp1._replace(salary=55000)
print(emp1_updated)

Rahul
IT
70000
{'name': 'Rahul', 'age': 30, 'department': 'HR', 'salary': 50000}
Employee(name='Rahul', age=30, department='HR', salary=55000)

2- Default Dictionary (collections.defaultdict)
Like a dictionary but assigns a default value if a key does not exist.

In [18]:
from collections import defaultdict

dd = defaultdict(int)
dd["apple"] += 2  # Default value of 0 is used
print(dd["apple"])  # Output: 1
print(dd["banana"])
print(dd["fruits"])# Output: 0 (default value)

2
0
0

# Counting Word Occurrences in a Sentence

In [14]:
from collections import defaultdict

# Create a defaultdict where the default value type is int
word_count = defaultdict(int)

# Sample sentence
sentence = "apple banana apple orange banana apple mango orange"

# Split sentence into words and count occurrences
for word in sentence.split():
    word_count[word] += 1  # No need to check if key exists!

# Print the word count dictionary
print(dict(word_count))  
# Output: {'apple': 3, 'banana': 2, 'orange': 2, 'mango': 1}

{'apple': 3, 'banana': 2, 'orange': 2, 'mango': 1}

3- Ordered Dictionary (collections.OrderedDict)
A dictionary that remembers the order in which items were inserted.

In [8]:
from collections import OrderedDict

od = OrderedDict()
od["a"] = 1
od["b"] = 2
od["c"] = 3
print(od)  # Output: OrderedDict([('a', 1), ('b', 2), ('c', 3)])

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

# Maintaining Insertion Order in a Dictionary

In [16]:
from collections import OrderedDict

# Creating an OrderedDict
ordered_dict = OrderedDict()
ordered_dict["banana"] = 3
ordered_dict["apple"] = 5
ordered_dict["orange"] = 2

# Printing the dictionary (insertion order is preserved)
print(ordered_dict)
# Output: OrderedDict([('banana', 3), ('apple', 5), ('orange', 2)])

# Accessing elements
print(ordered_dict["apple"])  # Output: 5

# Moving an item to the end
ordered_dict.move_to_end("banana")
print(ordered_dict)
# Output: OrderedDict([('apple', 5), ('orange', 2), ('banana', 3)])

# Moving an item to the beginning
ordered_dict.move_to_end("orange", last=False)
print(ordered_dict)
# Output: OrderedDict([('orange', 2), ('apple', 5), ('banana', 3)])

OrderedDict([('banana', 3), ('apple', 5), ('orange', 2)])
5
OrderedDict([('apple', 5), ('orange', 2), ('banana', 3)])
OrderedDict([('orange', 2), ('apple', 5), ('banana', 3)])

4- Counter (collections.Counter)
A dictionary subclass for counting hashable objects.

In [9]:
from collections import Counter

counter = Counter("banana")
print(counter)  # Output: Counter({'a': 3, 'n': 2, 'b': 1})

Counter({'a': 3, 'n': 2, 'b': 1})

5- Deque (collections.deque)
A double-ended queue for fast appends/pops from both ends.

In [10]:
from collections import deque

dq = deque([1, 2, 3])
dq.append(4)      # Add to the right
dq.appendleft(0)  # Add to the left
print(dq)         # Output: deque([0, 1, 2, 3, 4])

deque([0, 1, 2, 3, 4])

     Write a  Python program to draw a line with suitable label in the x axis, y axis and a title.

Write a Python program to draw a line using given axis values with suitable label in the x axis , y axis and a title.


Write a Python program to draw a line using given axis values taken from a text file, with suitable label in the x axis, y axis and a title.
Test Data:
test.txt
1 2
2 4
3 1


Write a Python program to draw line charts of the financial data of Alphabet Inc. between October 3, 2016 to October 7, 2016.
Sample Financial data (fdata.csv):
Date,Open,High,Low,Close
10-03-16,774.25,776.065002,769.5,772.559998
10-04-16,776.030029,778.710022,772.890015,776.429993
10-05-16,779.309998,782.070007,775.650024,776.469971
10-06-16,779,780.47998,775.539978,776.859985
10-07-16,779.659973,779.659973,770.75,775.080017


Write a Python program to plot two or more lines on same plot with suitable legends of each line.