In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('Data_Salaries.csv')

In [3]:
data

           Position   Level   Salary
0   Business Analyst      1    45000
1  juinor consultant      2    50000
2  senior consultant      3    60000
3            Manager      4    60000
4    Country manager      5   110000
5     Region manager      6   150000
6            Partner      7   200000
7     senior partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
df = pd.DataFrame(data)